{{ if categories || category || tutorials || tutorial || howtos || howto || explanations || explanation || authors || author }}
  {{ include "includes/relation.vto" { relation: howtos || howto, label: "How-to..." } }}
  {{ include "includes/relation.vto" { relation: explanations || explanation, label: "Explain..." } }}
  {{ include "includes/relation.vto" { relation: tutorials || tutorial, label: "Tutorials" } }}
  {{ include "includes/relation.vto" { relation: categories || category, label: "Categories" } }}
  {{ include "includes/relation.vto" { relation: authors || author, label: "Authors" } }}
{{ else }}
  <li class="menu-title text-info"><small>No related content</small></li>
{{ /if }}