{{ if categories || category || tutorials || tutorial || howtos || howto || explanations || explanation || authors || author }}
  {{ include "includes/relation.vto" { relation: howtos || howto, label: labels.relations.howtos } }}
  {{ include "includes/relation.vto" { relation: explanations || explanation, label: labels.relations.explanations } }}
  {{ include "includes/relation.vto" { relation: tutorials || tutorial, label: labels.relations.tutorials } }}
  {{ include "includes/relation.vto" { relation: categories || category, label: labels.relations.categories } }}
  {{ include "includes/relation.vto" { relation: addendums || addendum, label: labels.relations.addendums } }}
  {{ include "includes/relation.vto" { relation: authors || author, label: labels.relations.authors } }}
{{ else }}
  <li class="menu-title text-info"><small>No related content</small></li>
{{ /if }}